@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --SecondaryColor : 142, 142, 142;
  --PrimaryColor : 209, 185, 216;
  /* color-scheme: light dark; */
  font-family: serif  ;
  box-sizing: border-box;
  
}
#slider{
  position: relative;


}

#catagoriesSlide .swiper-slide:nth-child(odd){
transform: translate(0, -160px);

z-index: 100;
}
#slider .swiper-wrapper{
    animation-timing-function: linear !important;
  transition-timing-function: linear !important;
}


